@page
@model megaDesk_Web.Pages.Quotes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>View All Desk Quotes</h1>
<form class="search-filter-form">
    <select asp-for="SelectedMaterialId" asp-items="Model.Materials" class="book-filter-select">
        <option value="">All</option>
    </select>
    <input type="submit" value="Filter" />
</form>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuotes[0].CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuotes[0].QuoteDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuotes[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuotes[0].Delivery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuotes[0].Desk.DesktopMaterial)
            </th>
            <th>
                Actions
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DeskQuotes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuoteDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Delivery.deliverySpeed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desk.DesktopMaterial.MaterialName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.DeskQuoteID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.DeskQuoteID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.DeskQuoteID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
